<h1 class=" text-center main-heading">About Us</h1>
<p class=" special text-center fs-4" style="">Grow Your Business With Us </p>
   <div class="about container">
        <div class="row w-100">
           <div class="col-6 d-flex align-items-center justify-content-start">
                <img src="../images/Begona.jpeg" class="w-80vw" alt="Hero Image" srcset="">
            </div>
            
            <div class="col-6 d-flex align-items-center justify-content-end text-content">
                <div>
                 
                    <h1 style="font-size: 3rem">We are the Professional <div>Web Developer</div></h1>
                    <p style="font-size:1rem">Lorem ipsum dolor sit amet.
                    Accusamus rerum iste voluptatem nihil.
                    Alias quo doloribus error hic!
                    Itaque, vitae praesentium. Fugit, recusandae.
                    Deserunt possimus magnam iure quaerat?</p>
                    <button class="btn  fs-5 btn-lg">Read More</button>
                </div>
            </div>
           
        </div>
    </div>